/* Estilo para el encabezado */
header {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 20px;
    background-color: #fcf6f6;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

/* Deja un espacio arriba de la página para que el contenido no quede escondido por el encabezado que está fijo y fuente de tipografia */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body {
    margin-top: 80px; 
    height: 100%; 
	font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff; 
}

/* Estilo para el logotipo */
.logo img {
    max-height: 60px;
}

/* Estilo para la barra de navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
}

nav ul li a.active {
    border-bottom: 3px solid #75b9d4; /* La raya que aparece al cambiar de página, esto lo ponemos con JS */
}

/* Estilo para el buscador */
.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #75b9d4;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* Estilo para la imagen del carrito */
.user-options img {
    max-height: 60px;
}