/* esto es para que la imagen de la portada no tenga margen*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.portada{
    /*Aqui se centra y se edita la imagen y el texto de portada */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
    color: rgb(255, 255, 255);
    background-image: url(./portada.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;

    /*Tamaño de texto y espacio entre el parrafo*/
    h1{
        font-size: 50px;
        margin-bottom: 1px;
    }
    /*tamaño de parrafo y espacio de titulo*/
    p{
        font-size: 20px;
        margin-top: 1;
    }
}
.box1{
    display: flex;
    flex-direction: row;
    font-family: arial;
    background-color: rgba(240, 248, 255, 0.584);
    height: 650px;
    width: 1200px;
    top: 20px;
    gap: 5px;
    border-radius: 8px;
}

.box2mod {
  width: 600px;
  height: 550px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  background-color: rgb(252, 252, 252);
  flex-shrink: 0;
}
.box3img{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border: 3px solid #f0841100;
    
}
.box3opciones{
    display: flex;
    flex-direction: column;
    font-family: arial;
    justify-content: center;
    height: 530px;
    width: 450px;
    top: 25px;
    left: 50px;
    background-color: rgb(255, 255, 255);
    gap: 1.5px;
    overflow: auto;
    border-radius: 8px;
    margin: 20px;
    border: 10px solid rgb(255, 255, 255);
}
.main-image {
    justify-content: center;
    position: relative;
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
  .thumbnail {
    
    width: 180px;
    height: 190px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
    
  }
  .thumbnail-container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  label {
    margin-top: 5px;
    font-weight: bold;
    color: black;
    font-family: arial;
    font-size: 20px;
  }
  
  select, input {
    padding: 5px;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #75b9d4;
    color: rgb(1, 1, 1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    max-width: 80%;
  }
  
  button:hover {
    background-color: #53e7ca;
  }
  .totales{
    font-size: 10px;
    color: black;
  }
